- page_title _('Start a Free Gold Trial')
- add_page_specific_style 'page_bundles/signup'
- content_for :page_specific_javascripts do
  = render "layouts/google_tag_manager_head"
= render "layouts/google_tag_manager_body"

%h2.center.pt-6.pb-4.gl-mb-0
  = _('Start a Free Gold Trial')

.signup-page
  = render 'devise/shared/signup_box',
    url: trial_registrations_path,
    button_text: _('Continue'),
    show_omniauth_providers: social_signin_experiment_enabled?,
    omniauth_providers_placement: :top

  = render 'devise/shared/sign_in_link'
