- support_link_start = '<a href="%{url}" target="_blank" rel="noopener noreferrer">'.html_safe % { url: EE::CUSTOMER_SUPPORT_URL }
- support_link_end   = '</a>'.html_safe

- if current_plan
  = render 'shared/billings/billing_plan_header', namespace: namespace, plan: current_plan

- if show_plans?(namespace)
  - plans = available_plans(plans_data, current_plan)

  .billing-plans.gl-mt-5.row.justify-content-center
    - plans.each do |plan|
      - is_default_plan = current_plan.nil? && plan.default?
      - is_current = plan.code == current_plan&.code || is_default_plan
      .col-md-6.col-lg-3.gl-mb-5
        = render 'shared/billings/billing_plan', namespace: namespace, plan: plan, is_current: is_current

- if namespace.gitlab_subscription&.has_a_paid_hosted_plan?
  .center.gl-mb-7
    &= s_('BillingPlans|If you would like to downgrade your plan please contact %{support_link_start}Customer Support%{support_link_end}.').html_safe % { support_link_start: support_link_start, support_link_end: support_link_end }

  %p= seats_data_last_update_info
